name: Build 

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Install dependencies
      run: sudo apt update && sudo apt install -y build-essential 

    - name: Build 
      run: make

    - name: Run
      run: ./mysh

